html, body {
  min-height: 100vh; /* Ensure body covers full viewport height */
  width: 100%;
  background-color: #bf77a9; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #e3cbd2, #bf77a9, #c2d84b);
  margin: 0;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Allow scrolling if content exceeds viewport height */



}
